form {
    width:300px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(142, 1, 1);
    border-radius: 20px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.724)
}
body {
    background: rgba(0, 0, 0, 0.752)
    }

input {
border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
}

form:first-child {
    display: block;
}

label {
    padding: 10px;
    margin: 10px;
}

button {
    background: rgb(138, 6, 6);
    color:white;
    font-size: 20px;
    border-radius: 20px;
    padding: 15px 25px;
    cursor:pointer;
    border:none;
    margin: 20px 0 0 0;

}