* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-size: 20px;
    background-color: #000000d8;
    width: 650px;
        margin: 0 auto;
}


.wrapper {
background:white;
  margin: 10px;
  padding: 10px;
border-radius: 50px;
font-size: 20px;
font-weight: 600;
outline: none;
}



form {

    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

}

input {
    min-height: 25px;
    padding: 20px;
    width: 70%;
    border: 1px solid;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    outline: none;
}




button {
    background: rgb(17, 17, 233);
    border: none;
    cursor: pointer;
    width: 170px;
    padding: 20px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 10px
}








