.slider {
    position: relative;
}

.slider-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image img {
    max-width: 100%;
    max-height: 100%;
}
.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  width: 50px; /* устанавливаем ширину кнопок */
  height: 50px; /* устанавливаем высоту кнопок */
}

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
}




img {
    width:350px;
    height:300px;
    display: none;
}

img.active {
  display: block;
}