body {
width:400px;
margin:0 auto;
font-size: 24px;
}

button {
    width:100px;
    border-radius: 30px;
    padding: 10px;
    margin: 0 0 0 30px;
    background: darkblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}



ol li {
    margin:0 0 10px 0 ;

}


.show_btn {
   margin-left: 30%;
   width:150px;
   padding: 15px;
}